.ipynb_checkpoints/
ENV_DIR/
PIPMIL/
attributes.txt
data/
datasets/
features/.ipynb_checkpoints/
features/__pycache__/
pipnet/.ipynb_checkpoints/
pipnet/__pycache__/
pipnet_cub_trained
pretrained_models/
runs/
slurm*
used_arguments/.ipynb_checkpoints/
util/.ipynb_checkpoints/
util/CAMELYON_preproc.py
util/__pycache__/
util/memory_test.py
util/memory_test_2.py
util/memory_test_3.py